header {
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  width: 100%;
  background: transparent;
  z-index: 9999;
  position: fixed;
  nav {
    margin: 0 auto;
    .header__navbar {
      padding-left: $pd-1;
      @include styleText($fs-6, $fw-2, $color-black);
      li {
        line-height: 80px;
        padding-right: $pd-1;
        a {
          padding: 0;
          margin: 0;
        }
      }
      .navbar-light .navbar-nav .nav-link {
        color: $color-black;
      }
      .navbar-nav {
        position: relative;
        .active::after {
          content: "\2022";
          font-size: $fs-5;
          position: absolute;
          top: 30px;
          left: 130px;
          color: $color-purple;
        }
      }
    }
  }
  .header__infor {
    .header__phonenumber {
      a {
        @include styleButton($color-purple, $pd-2, $pd-3, $br-1);
        @include styleText($fs-6, $fw-1, $color-button);
        margin: 6px;
        border: 1px solid $color-purple;
        transition: all ease 300ms;
        i {
          padding-right: 5px;
        }
      }
      a:hover {
        text-decoration: none;
        color: $color-purple;
        box-shadow: inset 0 0 0 2em $color-button;
        outline: none;
      }
    }
    .header__social {
      li {
        cursor: pointer;
        list-style: none;
        display: inline;
        padding-left: 5px;
        i {
          @include styleText($fs-6, $fw-1, $color-black);
          transition: all ease 300ms;
        }
        i:hover {
          color: $color-purple;
        }
      }
    }
  }
}
.shrink {
  height: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  .header__logo {
    visibility: hidden;
  }
  nav {
    .header__navbar {
      li {
        line-height: 0;
        padding-bottom: 40px;
      }
    }
  }
  .header__phonenumber {
    padding-bottom: 40px;
    a {
      padding: 10px 20px !important;
    }
  }
  background: $color-white;
  .header__infor {
    padding-right: 50px;
  }
}

@include responsive("extra-large") {
  header {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 10px 0;
    position: relative;
    display: block;
    background-color: $color-white;
    .header__grid {
      .header__logo {
        img {
          height: 48px;
          width: 48px;
          position: absolute;
          top: -5px;
          left: -100px;
        }
      }
      .header__navbar {
        button {
          position: absolute;
          top: -30px;
          left: -420px;
          outline: none;
          border: 0px;
        }
      }
    }
  }
}
